<div class="row ">
  <div class="col-md-12">
    <h1>puzzle forge 2 assistant </h1>


    <!-- <h2>{{weaponTypes}}</h2> -->
    <div class="btn-group">
      <button class="btn btn-info btn-sm" ng-click="search_type = 'Armor' "> Armor </button>
      <button class="btn btn-info btn-sm" ng-click="search_type = 'Axe' "> Axe </button>
      <button class="btn btn-info btn-sm" ng-click="search_type = 'Claws' "> Claws </button>
      <button class="btn btn-info btn-sm" ng-click="search_type = 'Mace' "> Mace </button>
      <button class="btn btn-info btn-sm" ng-click="search_type = 'Shield' "> Shield </button>
      <button class="btn btn-info btn-sm" ng-click="search_type = 'Shovel' "> Shovel </button>
      <button class="btn btn-info btn-sm" ng-click="search_type = 'Spear' "> Spear </button>
      <button class="btn btn-info btn-sm" ng-click="search_type = 'Staff' "> Staff </button>
      <button class="btn btn-info btn-sm" ng-click="search_type = 'Sword' "> Sword </button>
      <button class="btn btn-info btn-sm" ng-click="search_type = 'Twin Blades' "> Twin Blades </button>
      <button class="btn btn-success btn-sm" ng-click="search_type = '' "> Any Type</button>
    </div>
    <br>

    <div class="btn-group">
      <button class="btn btn-info btn-sm" ng-click="search_season = 'Spring' "> Spring </button>
      <button class="btn btn-info btn-sm" ng-click="search_season = 'Summer' "> Summer </button>
      <button class="btn btn-info btn-sm" ng-click="search_season = 'Fall' "> Fall </button>
      <button class="btn btn-info btn-sm" ng-click="search_season = 'Winter' "> Winter </button>
      <button class="btn btn-success btn-sm" ng-click="search_season = '' "> All Season</button>
    </div>

    <div class="btn-group">
      <button class="btn btn-info btn-sm" ng-click="search_day = 'Day' "> Day </button>
      <button class="btn btn-info btn-sm" ng-click="search_day = 'Night' "> Night </button>
      <button class="btn btn-success btn-sm" ng-click="search_day = '' "> Anytime</button>
    </div>
    <button class="btn btn-success btn-sm" ng-click="search_type='';search_day='';search_season=''"> All Weapon </button>
    <br>

    <button class="btn btn-warning btn-sm" ng-click="isShowImg = !isShowImg">
      <text ng-if="isShowImg">  disable images </text>
      <text ng-if="!isShowImg"> show images </text>
    </button>

    <label class="bg-info">{{search_type}} </label>
    <label class="bg-info">{{search_season}}  </label>
    <label class="bg-info">{{search_day}}</label>

    <hr>
  </div>
</div>


<div class="row" >
  <div class="col-md-4" ng-repeat="weapon in weapons |filter:search_type | filter:search_season| filter:search_day" >
    <b>{{weapon.name}} </b>
    <br>
    <text ng-repeat='c in weapon.components'>
    {{c.material}} : {{c.shape}} <br>
    </text>
    <text ng-if="weapon.gems"> gems : {{weapon.gems}} <br> </text>
    <text ng-if="weapon.enchantment"> enchantment : {{weapon.enchantment}} <br> </text>
    <text ng-if="weapon.daytime"> daytime : {{weapon.daytime}} <br> </text>
    <text ng-if="weapon.season"> season : {{weapon.season}} <br> </text>
    <img ng-if="isShowImg" ng-src="{{weapon.img}}" alt=""> <br>

  </div>
</div>