<div class="row ">
  <div class="col-md-12">
    <h1>puzzle forge 2 assistant </h1>


    <!-- <h2>{{weaponTypes}}</h2> -->
    <div class="btn-group">
      <button class="btn btn-default btn-sm" ng-click="search = 'Armor' "> Armor </button>
      <button class="btn btn-default btn-sm" ng-click="search = 'Axe' "> Axe </button>
      <button class="btn btn-default btn-sm" ng-click="search = 'Claws' "> Claws </button>
      <button class="btn btn-default btn-sm" ng-click="search = 'Mace' "> Mace </button>
      <button class="btn btn-default btn-sm" ng-click="search = 'Shield' "> Shield </button>
      <button class="btn btn-default btn-sm" ng-click="search = 'Shovel' "> Shovel </button>
      <button class="btn btn-default btn-sm" ng-click="search = 'Spear' "> Spear </button>
      <button class="btn btn-default btn-sm" ng-click="search = 'Staff' "> Staff </button>
      <button class="btn btn-default btn-sm" ng-click="search = 'Sword' "> Sword </button>
      <button class="btn btn-default btn-sm" ng-click="search = 'Twin Blades' "> Twin Blades </button>
    </div>
    <br>


    Search: <input type="text" ng-model="search">
    <button class="btn btn-warning btn-sm" ng-click="isShowImg = !isShowImg">
      <text ng-if="isShowImg">  disable images </text>
      <text ng-if="!isShowImg"> show images </text>
    </button> <br>


    <hr>
  </div>
</div>
<div class="row" >
  <div class="col-md-4" ng-repeat="weapon in weapons |filter:search" >
    <b>{{weapon.name}} </b>
    <br>
    <text ng-repeat='c in weapon.components'>
    {{c.material}} : {{c.shape}} <br>
    </text>
    <text ng-if="weapon.gems"> gems : {{weapon.gems}} <br> </text>
    <text ng-if="weapon.enchantment"> enchantment : {{weapon.enchantment}} <br> </text>
    <text ng-if="weapon.daytime"> daytime : {{weapon.daytime}} <br> </text>
    <text ng-if="weapon.season"> season : {{weapon.season}} <br> </text>
    <img ng-if="isShowImg" ng-src="{{weapon.img}}" alt=""> <br>

  </div>
</div>